{% extends 'base.html' %}
{% load static %}

{% block title %}Our Services - Garden Gals{% endblock %}

{% block content %}
<section class="services-page py-5">
    <div class="container">
        <h1 class="text-center mb-5">Our Expert Gardening Services</h1>
        
        {% comment %} Original services loop removed. You can add new content here. {% endcomment %}
        <div class="row">
            <div class="col-12">
                <p class="text-center">Information about our services will be available here soon. Please contact us for more details.</p>
                {# Or simply leave this section empty if you don't want any placeholder text #}
            </div>
        </div>

    </div>
</section>
{% endblock %} 